dl {
  font-family: monospace;
}

dl input {
  font-family: monospace;
}

dl dd {
  margin-bottom: 0.5em;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

dl dt {
  float: left;
  clear: left;
  text-align: right;
  font-weight: bold;
  width: 30%;
  min-width: 100px;
  max-width: 500px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
dl dt::after {
  content: ':\00a0';
}
footer.footer iframe {
  height: 20px;
}
footer.footer {
  font-size: small;
  padding: 2rem 1rem 2rem;
}
